.search-view-wrapper{
    display: flex;
    //flex-grow: 1;
}

.tracking-view-button {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 0.75vw;
    width: fit-content;
    padding: 1vh 5vw;
    align-self: center;
}

.item-list {
    overflow-y: scroll;
    margin-top: 2.75vh;
    height: 87.25vh;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 1.5vh;
  }

.track-list{
    overflow-y: scroll;
    margin-top: 2.75vh;
    height: 87.25vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
}