.search-view-wrapper{
    display: flex;
}

.tracking-view-button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
}

.item-list {
    overflow-y: scroll;
    margin-top: 2.75vh;
    height: 87.25vh;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
    gap: 1.5vh;
  }


.search-view-tracked-wrapper{
    margin-top: 2.75vh;
}

.track-list{
    overflow-y: scroll;
    height: 81vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 0.75vw;
}

.tracking-view-button-img{
    width: 2vw;
    cursor: pointer;
}
