.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 10%;
}

.GameLogo {
  width: 200px;
  margin-right: 1em;
}


.SearchBar {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
  color: white;
  letter-spacing: 1px;
  width: 380px;
  margin-right: 2em;
}

.Container {
  display: flex;
  height: 78%;
  padding: 1% 0;

}

.ItemList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(5vw, 200px), 1fr));
  grid-template-rows: repeat(200px, 200px);
  justify-content: center;
  grid-auto-flow: row;
  grid-gap: 15px;
  padding: 0 2%;
  overflow-y: scroll;
}

.Tracker {
}