$model-width: 30vw;
$transition-speed: 0.5s;

.modal-wrapper{
    height: 90vh;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.help-modal-wrapper{
    background-color: rgb(15, 15, 15);
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
    animation: slide-in $transition-speed;
    padding: 0;
}

.help-content{
    padding: 2vw;
}

.help-header{
    display: block;
    letter-spacing: 0.3rem;
    color: #a18b5f;
    font-size: 1.1vw;
    padding-bottom: 3vh;
}

.help-title{
    display: block;
    letter-spacing: 0.2rem;
    color: #a18b5f;
    font-size: 0.9vw;
    padding-top: 3vh;
}

.help-text{
    width: $model-width;
    line-height: 1.5;
    font-size: 0.8vw;
}

.help-link, .help-link:visited, .help-link:active{
    text-decoration: none;
    color: white;
    font-size: 0.8vw;
}

.help-link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.filter-modal-wrapper{
    background-color: rgb(15, 15, 15);
    width: $model-width;
    height: 100%;
    position: absolute;
    right: 1.45vw;
    overflow-y: scroll;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    // gap: 10%;
    padding: 1vw;
    animation: slide-in $transition-speed;
}

.filter-header-wrapper{
    width: fit-content;
}

.filter-title {
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: #a18b5f;
}

.filter-collapse{
    height: 1.3vh;
    justify-content: center;
    align-items: center;
}

.filter-group {
    columns: 2;
    transition: $transition-speed;
    overflow: hidden;
}

.filter-type {
    width: 50%;
    display: block;
    font-size: smaller;
    padding-left: 5px;
    padding-bottom: 20px;
    white-space: nowrap;
}

.filter-type:hover {
    color: white;
    transition: $transition-speed;
}

@keyframes slide-in {
    0% {
        width: 0;
    }
    100% {
        width: $model-width;
    }
}