.tracker-tile {
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
}

.tracker-tile:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tracker-image {
    width: 7vh;
    display: block;
    margin: auto;
    pointer-events: none;
}

.tracker-name {
    color: #a18b5f;
    letter-spacing: 1px;
    font-size: clamp(0.8em, 2vw, 1em);
    display: flex;
    padding-left: 1vw;
    width: 20vw;
    text-shadow: 0 0.2em 5px black;
}

.tracker-buttons {
    display: flex;
    flex-direction: column;
}

.tracker-button {
    display: inline-block;
    align-self: center;
    height: 20px;
    transition: 0.3s;
    opacity: 0.2;
    margin: 0.7vh;
}

.tracker-button:hover {
    transform: scale(110%);
    opacity: 1;
}
