@import "./settings.scss";
@import './components/landing/Landing.scss';
@import './components/header/Header.scss';
@import './components/searchView/SearchView.scss';
@import './components//trackerView/TrackerView.scss';
@import './components/itemTile/ItemTile.scss';
@import './components/trackedItemTile/TrackedItemTile.scss';
@import './components/searchFilter/SearchFilter.scss';
@import './components/detailedTrackedItemTile/DetailedItemTile.scss';

body {
  height: 100vh;
  user-select: none;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
  color: rgb(190, 190, 190);
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

*::-webkit-scrollbar-corner {
  background: none;
}
